<!DOCTYPE html>
{% load static %}
<html lang="mn">
<head>
    <title></title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main.css" %}">

    <script src="{% static "jquery-3.4.1.slim.min.js" %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static "popper.min.js" %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap.min.js" %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="{% static "react.development.js" %}" crossorigin></script>
    <script src="{% static "react-dom.development.js" %}" crossorigin></script>
    <script src="{% static "axios.min.js" %}"></script>
    <script src="{% static "babel.min.js" %}"></script>
</head>
<body>

    <div id="react-app">Loading app ...</div>

    <script src="{% static "main.js" %}" type="text/babel"></script>

</body>
</html>

