<!DOCTYPE html>
{% load static %}
<html lang="mn">
<head>
    <title></title>

    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static "bootstrap.min.css" %}" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main.css" %}">

    <script src="{% static "jquery-3.4.1.slim.min.js" %}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{% static "popper.min.js" %}" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static "bootstrap.min.js" %}" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>

    <img id="img1" style="border: 1px solid"/>
    <img id="img2" style="border: 1px solid"/>
    <img id="img3" style="border: 1px solid"/>

    <button onclick="loadImages()">Preload image</button>

    <script>

        let images = document.querySelectorAll('img');
        let urls = [
            '/preload/get-image/',
            '/preload/get-image/',
            '/preload/get-image/',
        ];
        let blobs = [];

        function preload(url) {

            let promise = new Promise(function(success_fn){
                let xhr = new XMLHttpRequest();
                xhr.onload = function() {
                    let reader = new FileReader();
                    reader.onloadend = function () {
                        blobs.push(reader.result);
                        success_fn();
                    }
                    reader.readAsDataURL(xhr.response);
                }
                xhr.open('GET',  url);
                xhr.responseType = 'blob';
                xhr.send();
            });

            return promise;

        }

        function loadImages() {
            let p1 = preload(urls[0]);
            let p2 = preload(urls[1]);
            let p3 = preload(urls[2]);
            Promise.all([p1, p2, p3]).then(setImages);
        }

        function setImages() {
            images[0].src = blobs[0];
            images[1].src = blobs[1];
            images[2].src = blobs[2];
        }
    </script>



</body>
</html>

